## Python Variables
* Variables are containers for storing data values
* A variable is created the moment you first assign a value to it.
* Unlike other programming languages,you dont have to declare the type of variable

In [2]:
# Ex1)
x = 5
y = "John"

print(x)
print(y)

5
John

In [3]:
# Ex2)
# In Python, there is no need to declare the type of variable .i.e,
# same varible can be used to hold different data types
x = 5
print(x)
x = 'john'
print(x)

5
john

### Convention for naming variables

* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number

In [4]:
# Ex 3)
# Variable names are case-sensitive (age, Age and AGE are three different variables)
age = 25
# print(age)
Age = 30
# print(age)
AGE = 35
print(age,Age,AGE)

25 30 35

* Examples of legal and illegal variable names

In [5]:
#Legal variable names:
myvar = "Python"
my_var = "Python"
_my_var = "Python"
myVar = "Python"
MYVAR = "Python"
myvar2 = "Python"

#Illegal variable names:
2myvar = "Python"  # starting with number
my-var = "Python"  # hyphen is not allowed 
my var = "Python"  # space in between is not allowed

SyntaxError: ignored

# **Type Casting**
If you want to specify the data type of a variable, this can be done with casting.

In [1]:
#3
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
x = 10
y = "Rohan"
a =  float(x)
print(a)
print(type(x))
print(type(y))
print(type(a))

10.0
<class 'int'>
<class 'str'>
<class 'float'>

# **Python Numbers**
There are three numeric types in Python:

int float complex Variables of numeric types are created when you assign a value to them:

In [7]:
#Example
#Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#Checking the type of the numbers:
print(type(x))
print(type(y))
print(type(z))

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Python print() Function
* The print() function prints the specified message to the screen
* The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [8]:
# Ex1)
print("Hello world")

Hello world

In [9]:
# Ex2)
print("Welcome to python")

Welcome to python

In [10]:
# Ex3)
a = "Hello world"
print(a)

Hello world

In [11]:
# Ex4)
first_name = 'Arun'
last_name = 'Balaji'

print(first_name)
print(last_name)

Arun
Balaji

In [ ]:
# desired output is:
# Arun-Balaji
# by using 2 print() functions

In [12]:
# Ex5)
# You can specify the end parameter
print(first_name,end = '-')
print(last_name)

Arun-Balaji

In [13]:
# Ex6)
fruit = 'Apple'
print("I have an "+fruit)

I have an Apple

In [14]:
# Ex7)
fruit1 = 'Apple'
fruit2 = 'Banana'
print('I have 2 fruits, one is '+ fruit1+" other one is "+fruit2)

I have 2 fruits, one is Apple other one is Banana

In [15]:
# Ex8) print format()
print(" I have 2 fruits, one is {} other one is {}".format(fruit1,fruit2))

 I have 2 fruits, one is Apple other one is Banana

In [16]:
# Ex9) giving indexes in the placeholders
print(" I have 2 fruits, one is {1} other one is {0}".format(fruit1,fruit2))

 I have 2 fruits, one is Banana other one is Apple

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [18]:
# The Python print statement is often used to output variables.
# To combine both text and a variable, Python uses the + character
x = "awesome"
print("Python is" + x)

#You can also use the + character to add a variable to another variable:
x = "Python is "
y = "awesome"
z =  x + y
print(z)
#For numbers, the + character works as a mathematical operator:
x = 5
y = 10
print(x + y)
#If you try to combine a string and a number, Python will give you an error:
#Error
x = 5
y = "John"
print(x + y)

Python isawesome
Python is awesome
15

TypeError: ignored

## Python Comments
* Comments can be used to explain Python code.

* Comments can be used to make the code more readable.

* Comments can be used to prevent execution when testing code.

'#' is used for single line comment. Python will ignore the lines starting with '#'

In [19]:
#this is a comment
print('Hello world')

Hello world

In [20]:
print('Hello world') #You can write comments here as well!

Hello world

In [21]:
print('Hello world')
# print('Welcome to python')
print('This is our first class')

Hello world
This is our first class

In [22]:
# i am a 
# multiline 
# comment 
# using '#' 
# at the beginning of
# each line
print('Hello-World')

Hello-World

"""
 ....
"""
is used to comment multiple lines of code

In [23]:
"""
i am a 
multiline 
comment 
using '#' 
at the beginning of
each line
"""
print('Hello world')

Hello world

You can assign a multiline string to a variable by using three quotes:

In [25]:
# Example
# You can use three double quotes:

a = """python is awesome,
Python is simple."""
print(a)

#Or three single quotes:
#Example
a = '''python is awesome,
Python is simple.'''
print(a)

python is awesome,
Python is simple.
python is awesome,
Python is simple.

In [26]:
# Example
# Get the character at position 1 (remember that the first character has the position 0):       
a = "Hello, World!"
print(a[1])

e

In [27]:
# Looping Through a String
# Since strings are arrays, we can loop through the characters in a string, with a for loop.

# Example
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [28]:
# String Length
# To get the length of a string, use the len() function.
# Example
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

## input()
* The input() function allows us to take input from the user.

In [29]:
# Ex1) ask name from the user
name = input("Enter your name : ")
print("hello "+name)

Enter your name : Vishal
hello Vishal

In [32]:
# Ex2) take two inputs(numbers) from user and add the numbers
num1 = input("enter the first number : ")
num2 = input("enter the second number : ")
num3 = num1 + num2 
print(num3)

enter the first number : 12
enter the second number : 34
1234

#### remember, whatever value user inputs is converted to string by default

In [33]:
# check the type
print("type of num1 = {} and num2 = {} ".format(type(num1),type(num2)))

# convert to int
num1 = int(num1)
num2 = int(num2)

type of num1 = <class 'str'> and num2 = <class 'str'>

In [34]:
# add and print
num3 = num1 + num2 
print(num3)

46

# **Slicing**
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [35]:
#Example
#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

# **Negative Indexing**
Use negative indexes to start the slice from the end of the string: Example Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [36]:
b = "Hello, World!"
print(b[-5:-2])
# Get the characters from index 2 to index 4 (llo).
txt = "Hello World"
print(txt[2:4])

orl
ll