# **Python Lists**

mylist = ["apple", "banana", "cherry"] List Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
# Example
# Create a List:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List Items List items are **ordered, changeable, and allow duplicate values.**

**List items are indexed**, the first item has index [0], the second item has index [1] etc.

**Ordered** When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

**Allow Duplicates** Since lists are indexed, lists can have items with the same value:

In [ ]:
# Example
# Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

List Length To determine how many items a list has, use the **len() function:**

In [ ]:
# Example
# Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List Items - Data Types List items can be of any data type:

Example String, int and boolean data types:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

Example A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

In [ ]:
#Example
#A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

**type()** From Python's perspective, lists are defined as objects with the data type 'list':

<class 'list'>

In [ ]:
# Example
# What is the data type of a list?

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

The list() Constructor It is also possible to use the list() constructor when creating a new list.

Example Using the list() constructor to make a List:

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# **Indexing**
Indexing starts from 0(zero). Very much similar to what we have learnt in our previous class

In [ ]:
# to get the first element
list1 = [1,2,3,4,5,6,7,8,9]
list1[0]

1

In [ ]:
# to get the third element
list1[2]

3

In [ ]:
# to get the last element
list1[8]

9

# **Slicing**

In [ ]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [ ]:
# to get first 5 elements 
list1[:5]

[1, 2, 3, 4, 5]

In [ ]:
# to get last 5 elements 
list1[-5:]

[5, 6, 7, 8, 9]

In [ ]:
# to get alternate elements 
list1 = [1,2,3,4,5,6,7,8,9]
list1[::2]

[1, 3, 5, 7, 9]

In [ ]:
# to get every 3rd element from the starting position
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1[::3]

[1, 4, 7]

# **Mutable**

In [ ]:
# to change the first value
list1[0] = 100
list1

[100, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# similarly you can change any values based on index position
list1[2] = 300
list1

[100, 2, 300, 4, 5, 6, 7, 8, 9]

# **Some Inbuilt Methods**

In [ ]:
# my_list
my_list = [1,2,3,True]
my_list

[1, 2, 3, True]

1) **.append(val)**

appends the value at the end of the list

In [ ]:
my_list.append("Python")
print(my_list)

[1, 2, 3, True, 'Python']

In [ ]:
my_list.append("ML")
print(my_list)

[1, 2, 3, True, 'Python', 'ML']

In [ ]:
my_list

[1, 2, 3, True, 'Python', 'ML']

## **2) insert(pos,element)**
inserts the element at the specified index

In [ ]:
# to insert value 4 after 3
my_list.insert(3,4)

In [ ]:
my_list

[1, 2, 3, 4, True, 'Python', 'ML']

In [ ]:
# to insert value False after True
my_list.insert(0,False)

In [ ]:
my_list

[False, 1, 2, 3, 4, True, 'Python', 'ML']

### **copying the lists**
1) my_list_copy = my_list

2) my_list_copy = my_list.copy()

In [ ]:
my_list

[False, 1, 2, 3, 4, True, 'Python', 'ML']

In [ ]:
my_list_copy = my_list

In [ ]:
print(my_list)
print(my_list_copy)

[False, 1, 2, 3, 4, True, 'Python', 'ML']
[False, 1, 2, 3, 4, True, 'Python', 'ML']

In [ ]:
my_list_copy = my_list.copy()
print(my_list)
print(my_list_copy)

[False, 1, 2, 3, 4, True, 'Python', 'ML']
[False, 1, 2, 3, 4, True, 'Python', 'ML']

**Problem with assignment (=)**

In [ ]:
my_list_copy = my_list
print(my_list)

[False, 1, 2, 3, 4, True, 'Python', 'ML']

In [ ]:
print(my_list_copy)

[False, 1, 2, 3, 4, True, 'Python', 'ML']

In [ ]:
my_list_copy[0] = 100

In [ ]:
my_list_copy

[100, 1, 2, 3, 4, True, 'Python', 'ML']

**Note: original list is also getting modified**

In [ ]:
my_list

[100, 1, 2, 3, 4, True, 'Python', 'ML']

# **3) .copy()**

In [ ]:
my_list_copy = my_list.copy()
print(my_list)

[100, 1, 2, 3, 4, True, 'Python', 'ML']

In [ ]:
my_list_copy

[100, 1, 2, 3, 4, True, 'Python', 'ML']

In [ ]:
my_list_copy[0] = 0

In [ ]:
my_list_copy

[0, 1, 2, 3, 4, True, 'Python', 'ML']

**Note: Original list is not getting modified**

In [ ]:
my_list

[100, 1, 2, 3, 4, True, 'Python', 'ML']

# **4) .extend()**
syntax ----> list1.extend(list2)

In [ ]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list3 = [True,False]

list1.extend(list2)
list1.extend(list3)
list1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', True, False]

In [ ]:
# similar to addition of lists
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list3 = [True,False]

list1 = list1+list2+list3
list1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', True, False]

# **5) .pop(index)**
removes the element from specified index and returns the element.

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]

In [ ]:
rem = list1.pop(2)

In [ ]:
print(rem)

3

In [ ]:
list1

[1, 2, 4, 5, 6, 7, 8, 9]

# **Exercises on List**

In [ ]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#to access element 1
list1[0][0]

1

In [ ]:
#to access elemnt 5
list1[1][1]

5

In [ ]:
#to access 8
list1[2][1]

8

In [ ]:
list2 = [1,2,[3,4,5,6,[7,8,9]]]
list2

[1, 2, [3, 4, 5, 6, [7, 8, 9]]]

In [ ]:
#to access element 2
list2[1]

2

In [ ]:
#to access element 4
list2[2][1]

4

In [ ]:
#to access elements 7,8,9
list2[2][4]

[7, 8, 9]

In [ ]:
#to access element 9
list2[2][4][2]

9

In [ ]:
#to access 3,4,5,6
list2[2][:4]

[3, 4, 5, 6]