# **Python Tuples**
Tuple Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is **ordered and unchangeable.**

Tuples are written with **round brackets.**

In [1]:
mytuple = ("apple", "banana", "cherry")

In [2]:
# Example
# Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Items Tuple items are **ordered, unchangeable, and allow duplicate values.**

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered** When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable** Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates** Since tuples are indexed, they can have items with the same value:

In [3]:
# Example
# Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Tuple Length To determine how many items a tuple has, use the len() function:

In [4]:
# Example
# Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# **Create Tuple With One Item** 

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [5]:
# Example
# One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

# **Tuple Items**

Data Types Tuple items can be of any data type:**

In [6]:
# Example
# String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

# **A tuple can contain different data types:**
Example A tuple with strings, integers and boolean values:

**type()** From Python's perspective, tuples are defined as objects with the data type 'tuple':

<class 'tuple'>

In [7]:
# Example
# What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

The tuple() Constructor It is also possible to use the tuple() constructor to make a tuple.

In [8]:
# Example
# Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# **Indexing**
Indexing starts from 0(zero). Very much similar to what we have learnt in our previous class

In [10]:
# to get the first element
tup1 = (1,2,3,4.4,5.5,True,False,"Maths","Python")

In [11]:
tup2 = (1,2,3,4,5,1,1)

In [13]:
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [14]:
tup2

(1, 2, 3, 4, 5, 1, 1)

In [15]:
# check the type using type()
type(tup1)

tuple

In [16]:
# len()
len(tup2)

7

In [17]:
# to get the first element
tup1[0]

1

In [18]:
# to get the third element
tup1[2]

3

In [19]:
# to get the last element
tup1[-1]

'Python'

# **Slicing**

In [ ]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [20]:
# to get first 5 elements 
tup1[:5]

(1, 2, 3, 4.4, 5.5)

In [21]:
# to get last 5 elements 
tup1[-5:]

(5.5, True, False, 'Maths', 'Python')

In [22]:
# to get alternate elements 
tup1[::2]

(1, 3, 5.5, False, 'Python')

# **Immutable**
Once the tuple is created, you cannot add,remove or modify the elements

In [23]:
# try to add values
tup1 = (1,2,3,4,5)
tup1[5] = 6 # Error

TypeError: ignored

In [24]:
# remove 
tup1.pop()

AttributeError: ignored

In [25]:
# modify the values
tup1

(1, 2, 3, 4, 5)

In [26]:
tup1[0] = 100 #Error

TypeError: ignored

# **Workaround to modify the values**

In [27]:
# original tuple
tup1

(1, 2, 3, 4, 5)

In [28]:
#Convert to list 
list1 = list(tup1)
list1

[1, 2, 3, 4, 5]

In [29]:
#Modify the value
list1[0] = 100
list1

[100, 2, 3, 4, 5]

In [30]:
#again convert to tuple
tup1 = tuple(list1)
tup1

(100, 2, 3, 4, 5)

# **To check a perticular value is present**

In [31]:
#use 'in' operator
#syntax ---> item in object
tup1
print(100 in tup1)

True

In [32]:
print(200 in tup1)

False

# **Joining tuples**

In [33]:
tup1 = (1,2,3,4)
tup2 = ("a","b","C","d")

tup3 = tup1 + tup2
tup3

(1, 2, 3, 4, 'a', 'b', 'C', 'd')

# **Some Inbuilt Methods**

In [34]:
# tup
tup = (1,2,3,4,1,1,2,1,2,3,6)

### **1) count(item)**
Returns the number of times a specified item occurs in a tuple

In [35]:
tup.count(1)

4

In [36]:
tup.count(2)

3

**2) index(item)**

Returns the first index of specified item. If item is not present it will give error

In [37]:
tup.index(3)

2