# **Python Sets**
Set Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Note: Set items are unchangeable, but you can remove items and add new items. Sets are written with curly brackets.

In [1]:
myset = {"apple", "banana", "cherry"}

In [2]:
# Example
# Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

Note: **Sets are unordered**, so you cannot be sure in which order the items will appear.

Set Items Set items are **unordered, unchangeable, and do not allow duplicate values.**

**Unordered** Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and c**annot be referred to by index or key.**

**Unchangeable** Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you **cannot change its items**, but you can remove items and add new items.

**Duplicates Not Allowed** Sets cannot have two items with the same value.

In [3]:
# Example
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

Get the Length of a Set To determine how many items a set has, use the **len() method.**

In [4]:
# Example
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# **Set Items - Data Types**
Set items can be of any data type:

In [5]:
# Example
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

In [6]:
# Example
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}

type() From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>

In [7]:
# Example
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

**The set() Constructor** It is also possible to use the set() constructor to make a set.

In [8]:
# Example
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

# **Indexing and Slicing is not allowed in sets**

In [11]:
set4 = {2,3,4.4,True,"python"}
set5 = {1,2,3,4,1,2,1,1,4,3}
set6 = {"a",1,"b",2,3}

In [13]:
# try to index
set4[0]

TypeError: ignored

# **Empty set**

In [17]:
set7 = {}
set7

{}

In [18]:
type(set7)

dict

In [19]:
# to create empty sets
set4 = set()
type(set4)

set

# **Mutablility**
Once set is created you can add and remove the elements from the set, but you cannot modify the existing elements in a set

**In built methods.**

**To add the elements**

**1) add(item)**

adds single item to the set

In [20]:
set1 = {1,2,3,4,6}
# set1
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

In [21]:
set1.add(7)
set1

{1, 2, 3, 4, 6, 7}

**2) .update(list)**

this method is used to add more than one items. All the items should be passed in the form of lists

In [22]:
set1 = {1,2,3,4,5}
set1.update([6,7,8]) # pass list of values to set1

In [23]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

**3) copy()**

to copy a set

In [24]:
set2 = set1.copy()
set2

{1, 2, 3, 4, 5, 6, 7, 8}

**# To remove the items**

**4) remove(item)**

removes the specified item from the set. If specified item is not present it will raise error

In [25]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
set1.remove(1)
set1

{2, 3, 4, 5, 6, 7, 8}

In [27]:
set1.remove(2)
set1

{3, 4, 5, 6, 7, 8}

In [28]:
#Gives error because 2 is not present
set1.remove(2)
set1

KeyError: ignored

**5) discard(item)**

removes the specified item from the set.But if the item is not present then it will not raise error

In [29]:
set1 = {1,2,3,4,5,6}
set1

{1, 2, 3, 4, 5, 6}

In [30]:
set1.discard(1)
set1

{2, 3, 4, 5, 6}

In [31]:
set1.discard(2)
set1

{3, 4, 5, 6}

In [32]:
# will not give the error if 2 is not there
set1.discard(2)
set1

{3, 4, 5, 6}

**6) pop()**

Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [33]:
set1 = {"a",1,"B",2,3,"c",4}
set1.pop()

1

In [34]:
set1.pop()

2

**7) clear()**

empties the set

In [35]:
set1

{3, 4, 'B', 'a', 'c'}

In [36]:
set1.clear()
set1

set()

**#  Other inbuilt methods**

**8) union()**

returns a new set with all the elements from set1 and set2

In [37]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [38]:
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8}

**9) intersection()**

returns the common element from both the sets

In [39]:
set1

{1, 2, 3, 4, 5}

In [40]:
set2

{4, 5, 6, 7, 8}

In [41]:
set3 = set1.intersection(set2)
set3

{4, 5}