# **Python Dictionaries**
**Dictionary** 

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are written with curly brackets, and have keys and values:

**Dictionary Items**

 Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [2]:
#Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [3]:
#Print the "brand" value of the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["year"])

1964

In [4]:
# Dictionary Length
len(thisdict)

3

In [5]:
type(thisdict)

dict

# **Accessing Items**

In [7]:
# Example
dict1 = {
    "Brand":"Bajaj",
    "model":"Pulsar",
    "year":2015,
    "cost":85000
}

In [8]:
# 1)
x = dict1["model"]
x

'Pulsar'

In [9]:
# 2) get(keyname)
x = dict1.get("model")
x

'Pulsar'

# **Change/update Values**

In [10]:
#update the year
dict1["year"] = 2018
dict1

{'Brand': 'Bajaj', 'cost': 85000, 'model': 'Pulsar', 'year': 2018}

In [11]:
# keys() method to get the keys 
keys = list(dict1.keys())
print(keys)

['Brand', 'model', 'year', 'cost']

In [12]:
# values() method to get the values
vals = list(dict1.values())
print(vals)

['Bajaj', 'Pulsar', 2018, 85000]

In [13]:
# items() method to get both keys and values
items = list(dict1.items())
items

[('Brand', 'Bajaj'), ('model', 'Pulsar'), ('year', 2018), ('cost', 85000)]

# **Adding items to an existing dictionary**

In [14]:
# add color of the bike
dict1["color"] = "Black"
dict1

{'Brand': 'Bajaj',
 'color': 'Black',
 'cost': 85000,
 'model': 'Pulsar',
 'year': 2018}

In [15]:
# add tyreType
dict1['tyreType'] = 'Tubeless'
dict1

{'Brand': 'Bajaj',
 'color': 'Black',
 'cost': 85000,
 'model': 'Pulsar',
 'tyreType': 'Tubeless',
 'year': 2018}

# **Removing items**

In [16]:
# 1) pop(key)
rem = dict1.pop('model')
print(rem)
print(dict1)

Pulsar
{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless'}

In [17]:
# adding again
dict1['model'] = 'Pulsar'
dict1

{'Brand': 'Bajaj',
 'color': 'Black',
 'cost': 85000,
 'model': 'Pulsar',
 'tyreType': 'Tubeless',
 'year': 2018}

In [18]:
# 2) popitem() removes the last inserted item
print(dict1)
dict1.popitem()
print(dict1)

{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless', 'model': 'Pulsar'}
{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless'}

In [19]:
# 3) del keyword
del dict1['year']

In [20]:
dict1

{'Brand': 'Bajaj', 'color': 'Black', 'cost': 85000, 'tyreType': 'Tubeless'}

In [21]:
# 4) clear() method
dict1.clear()

In [22]:
dict1

{}

# **Copy a dictionary**

In [23]:
# 1) copy() method
dict1 = {
  "brand": "Bajaj",
  "model": "Pulsar",
  "year": 2015,
  "cost": 85000
}
mydict = dict1.copy()
print(mydict)

{'brand': 'Bajaj', 'model': 'Pulsar', 'year': 2015, 'cost': 85000}

# **Nested Dictionaries**

In [24]:
child1 = {
  "name" : "John",
  "year" : 1995
}
child2 = {
  "name" : "Sammy",
  "year" : 2001
}


myfamily = {
  "child1" : child1,
  "child2" : child2
}

In [25]:
myfamily

{'child1': {'name': 'John', 'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [26]:
myfamily = {
  "child1" : {
    "name" : "John",
    "year" : 1995
  },
  "child2" : {
    "name" : "Sammy",
    "year" : 2001
  }
}

In [27]:
myfamily

{'child1': {'name': 'John', 'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

# **Exercises on Dictionaries**

In [28]:
myfamily = {
  "child1" : {
    "name" : "John",
    "year" : 1995,
    "hobbies":["Music","Cricket","TV"]
  },
  "child2" : {
    "name" : "Sammy",
    "year" : 2001
  }
}
myfamily

{'child1': {'hobbies': ['Music', 'Cricket', 'TV'],
  'name': 'John',
  'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [29]:
#accessing "John"
myfamily["child1"]["name"]

'John'

In [30]:
#accessing 1995
myfamily["child1"]["year"]

1995

In [31]:
#accessing "Sammy"
myfamily["child2"]["name"]

'Sammy'

In [32]:
#accessing 2001
myfamily["child2"]["year"]

2001

In [33]:
myfamily

{'child1': {'hobbies': ['Music', 'Cricket', 'TV'],
  'name': 'John',
  'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [34]:
#accessing 'Cricket'
myfamily['child1']['hobbies'][1]

'Cricket'

In [35]:
#get ['Cricket','TV']
myfamily['child1']['hobbies'][1:]

['Cricket', 'TV']

In [36]:
#get ['Music','TV']
myfamily['child1']['hobbies'][::-1]

['TV', 'Cricket', 'Music']