# **Python Loops**
Python has two primitive loop commands:

1. while loops
2. for loops

# **The while Loop**
With the while loop we can execute a set of statements as long as a condition is true.

Example Print i as long as i is less than 6:

In [ ]:
"""
syntax

while(condition/s):
    statement1
    statement2
    ..........
"""

In [2]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [6]:
i = 1
while(i < 11):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

**Note:** remember to increment i, or else the loop will continue forever.

# **while - else**
if you want to know your while loop has finished its execution and you want to do some operations then you can make use of "else"

In [7]:
#ex2) 
count = 1
while(count<11):
    print(count)
    count = count + 1
else:
    print("End of while loop")
    print(count)

1
2
3
4
5
6
7
8
9
10
End of while loop
11

# **The break Statement**

 With the break statement we can stop the loop even if the while condition is true.

In [8]:
#Example Exit the loop when i is 3:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i + 1

1
2
3

In [10]:
# if count has reached 5 then break
count = 1
while(count<11):
    if(count == 5):
        print(count)
        break
    else:
        print(count)
        count = count + 1

1
2
3
4
5

# **The continue Statement** 
With the continue statement we can stop the current iteration, and continue with the next:

In [9]:
#Example Continue to the next iteration if i is 3:
i = 0
while i < 6:
  i = i + 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [11]:
# print only odd numbers
count = 0
while(count<11):
    count = count + 1
    if(count%2 == 0):
        continue
    print(count)

1
3
5
7
9
11

# **Python For Loops**
Python For Loops A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
"""
syntax

for item in seq:
    statements....
"""

In [12]:
# Example
# Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

The for loop does not require an indexing variable to set beforehand.

Looping Through a String Even strings are iterable objects, they contain a sequence of characters:

In [13]:
# Example
# Loop through the letters in the word "banana":

for i in "banana":
  print(i)

b
a
n
a
n
a

In [21]:
# looping over the strings
str1 = "abcde"

for item in str1:
    print(item)

a
b
c
d
e

In [22]:
# looping over lists

list1 = [1,2,3,4,5]

for item in list1:
    print(item)

1
2
3
4
5

# **The break Statement** 
With the break statement we can stop the loop before it has looped through all the items:

Example Exit the loop when x is "banana":

In [14]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [15]:
# Example
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [26]:
# using break in for loops
for i in range(10):
    if ( i == 7):
        break
    print(i)

0
1
2
3
4
5
6

# **The continue Statement** 
With the continue statement we can stop the current iteration of the loop, and continue with the next:

Example Do not print banana:

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# **The range() Function:-** 
To loop through a set of code a specified number of times, we can use the range() function, The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.


Example Using the range() function:

In [17]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

Example Using the start parameter:

In [18]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [23]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [24]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [25]:
#looping in reverse order from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# **pass**
pass keyword does nothing but you can avoid getting an error when empty code is not allowed. Empty code is not allowed in loops,if else conditions,functions,Classes etc

In [27]:
if(4>2):
    pass

In [28]:
if(4>2):
    print("A")
else:
    pass

A

In [29]:
for i in range(10):
    pass

# **Else in For Loop** 
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

Example Print all numbers from 0 to 5, and print a message when the loop has ended:

In [19]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

# **Nested Loops** 
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [20]:
# Example Print each adjective for every fruit:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry