# **Python Functions**
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [ ]:
# syntax
"""
def function_name():
    statement 1
    statement 2
    ...
    ...
    ...
    statement n
"""

In [1]:
# Creating a Function
# In Python a function is defined using the def keyword:
#Example
def my_function():
 print("Hello from a function")

# **Calling a Function**
To call a function, use the function name followed by parenthesis:

In [2]:
#Example
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [12]:
# defining the function
def my_func():
    print("hello")
    print("I am a function")
    print("I will execute only when i get called")

In [13]:
# calling the function
my_func()

hello
I am a function
I will execute only when i get called

In [14]:
#Ex2) Adding two numbers
def add():
    x = 10
    y = 20
    z = x + y
    print(z)

In [15]:
add()

30

In [1]:
#Ex you can pass strings
def func(name):
    print("Hello {}".format(name))

In [2]:
func("Himanshu")

Hello Himanshu

In [3]:
# Ex you can pass lists
def func(list1):
    for i in list1:
        print(i)

In [4]:
func([1,2,3,4,5])

1
2
3
4
5

# **Arguments**
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [3]:
#Example
def my_function(fname):
  print(fname + " is my name")

my_function("Riya")
my_function("Priya")
my_function("Supriya")

Riya is my name
Priya is my name
Supriya is my name

Arguments are often shortened to args in Python documentations.

# **Parameters or Arguments?**
The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

# **Number of Arguments**
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [4]:
# Example
# This function expects 2 arguments, and gets 2 arguments:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Riya", "Mehra")

Riya Mehra

In [5]:
# If you try to call the function with 1 or 3 arguments, you will get an error:
# Example
# This function expects 2 arguments, but gets only 1:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Riya")

TypeError: ignored

# **Arbitrary Arguments, *args**
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [6]:
# Example
# If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

**Keyword Arguments** You can also send arguments with the key = value syntax. This way the order of the arguments does not matter.

In [7]:
#Example
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

# **Default Parameter Value**
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [8]:
#Example
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [9]:
#Without default values
def add(x,y,z):
    my_num = x + y + z
    print(my_num)

In [10]:
# when value is passed
add(10,20,30)

60

In [11]:
# when value is not passed
add(10,20) #ERROR

TypeError: ignored

In [12]:
# With default values

def add(x,y,z = 0): #z is initilized to 0 (default)
    my_num = x + y + z
    print(my_num)

In [13]:
# when value is not passed
add(10,20)

30

In [14]:
#when value is passed
add(10,20,30)

60

**Passing a List as an Argument** You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [9]:
#Example
def my_function(fruits):
  for x in fruits:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

# **Return Values**
To let a function return a value, use the return statement:

In [10]:
#Example
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [5]:
# Ex1) returning sum
def add(x,y):
    z = x + y
    return z
    print(z) #will not be executed

In [6]:
my_sum = add(10,20)
my_sum + 10

40

In [7]:
# Ex2) returning product
def product(x,y):
    z = x * y
    return z
    print(z) #will not execute

In [8]:
my_num = product(10,2)
my_num

20

# **Recursion**
Python also accepts function recursion, which means a defined function can call itself.

In [11]:
# Example
# Recursion Example

def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
  else:
    result = 0
  return result

print(tri_recursion(6))

21

In [17]:
# Printing Hello for 5 times using recursion
def my_func(num):
    num = num + 1
    if(num>5):
        return
    else:
        print("Hello")
        my_func(num)

In [18]:
my_func(0)

Hello
Hello
Hello
Hello
Hello

# **A function can call any other function**

In [15]:
def func1():
    print("func1")

def func2():
    print("func2")
    func1()
    
def func3():
    print("func3")
    func2()

In [16]:
func3()

func3
func2
func1